body {
    background-color: #f3c6c6;
    font-family: Arial, sans-serif;
    color: #333;
}

/* This is a class to about.html  */

.about-page {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.title {
    background-image: url('https://picsum.photos/400/400/');
    background-size: cover;
    background-position: center;
    height: 200px;
    border-radius: 8px;
    padding: 20px;
    color: #fff;
    font-size: 24px;
    color: #2c3e50;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    
}
/* this is acomment in css */
p {
    font-size: 16px;
    line-height: 1.5;
}

.class {
    color: #3498db;
    font-style: italic;
}
h1 {
    color: #2c3e50;
    font-size: 36px;
}

div {
    margin: 20px;
    padding: 10px;
    border: 1px solid #3a333b;
    background-color: #c879e7;
}

.image-class {
    width: 100%;
    height: auto;
    
    border-radius: 8px;
    
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: aqua;
    border-radius: 8px;
}
span {
    color: #e74c3c;
    font-weight: bold;
}

.span-class {
    color: #8e44ad;
    font-weight: bold;
    font-size: 18px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}